doctype html
html(lang="en")
    head
        title Pig Latin Translator
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        div#inner_container
            h1 Pig Latin Translator
            if translation 
                h1 #{translation}
            form(action='/', method="post")
                div 
                    label(for="tobetranslated")
                    input(type="text", name="tobetranslated")
                input.submit(type="submit")