doctype html
html(lang="en")
    head
        title Pig Latin Translator
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        div#inner_container
            img(src='/static/img/pig_cartoon.png')
            div
                h1 Porcus Verto
                h3 Pig Latin Translator
                form(action='/', method="post")
                    div#typetotranslate
                        label(for="tobetranslated")
                        input(type="text", name="tobetranslated")
                    input.submit(type="submit")
                if translation 
                    h2.transl Translation: #{translation}