@font-face {font-family: "GochiHand-Regular"; src: url("../fonts/GochiHand-Regular.ttf"); }
@font-face {font-family: "ScopeOne-Regular"; src: url("../fonts/ScopeOne-Regular.ttf"); }

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #d9c1d4;
}

#inner_container {
    background-color: #823170;
    width: 50%;
    padding: 75px 0;
    border: 3mm ridge #a76e9a;
    border-radius: 33% 0;
    box-shadow: 12px 12px 2px 1px #c098b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner_container h1 {
    color: #fbf4f6;
    font-family: GochiHand-Regular;
    font-size: 54px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#inner_container h3 {
    color: #fbf4f6;
    font-family: GochiHand-Regular;
    font-size: 28px;
    margin-block-start: 0;
}

img {
    height: 300px;
    width: 175px;
    padding-right: 30px;
    padding-left: 12px;
}

#typetotranslate {
    display: inline-block;
}

input[type="text"] {
    background-color: #e4d3e0;
    background-image: url('../img/letter.svg');
    background-size: 18px 18px;
    background-position: 2px .5px;
    background-repeat: no-repeat;
    padding-left: 24px;
    width: 140px;
    transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
    background-color: #c0dfdf;
    border: none;
    width: 215px;
}
  
.submit {
    background-color: #962d2d;
    color: #fbf4f6;
}

.transl {
    font-size: 18px;
    color: #fbf4f6;
    font-family: ScopeOne-Regular;
}